@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,400;1,500;1,600&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2e132c;
}

header {
  display: flex;
  justify-content: center;
}
.header {
  width: 605px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.header img {
  height: 33px;
}

.perfil_photo {
  border-radius: 50%;
}

.header img.nombre {
  width: 87px;
  height: 11px;
}

.comentario {
  display: flex;
  font-family: "Fira Code", monospace;
  text-align: center;
  background-color: #150714;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 218px;
  padding: 20px;
}

.comentario .caja_escribir {
  width: 605px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #150714;
  padding: 10px;
}

.comentario .caja_escribir .input {
  width: 470px;
  height: 113px;
  display: flex;
  background-color: #2f112d;
  color: #914d8b;
  padding: 20px;
  border: none;
}

.comentario .caja_escribir img {
  border-radius: 50%;
}

.comentario button {
  margin-left: 450px;
  width: 102px;
  height: 35px;
  color: #150714;
  font-weight: 1000;
  font-size: 20px;
  border: none;
}

.home_comentarios {
  display: flex;
  justify-content: center;
}

.comentarios {
  display: flex;
  justify-content: center;
  font-family: "Fira Code", monospace;
  font-weight: 400;
  align-items: flex-start;
  width: 550px;
  padding-top: 28px;
  color: #ffffff;
}

.comentarios .img_perfil {
  padding-right: 50px;
  align-items: center;
}
.comentarios .user_name_fecha {
  display: flex;
  font-family: "Fira Code", monospace;
}

.comentarios .user_name_fecha .username {
  background-color: #800fff;
  color: #150714;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 15px;
}

.comentarios .btn_comentarios {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}

.comentarios .btn_comentarios img {
  width: 24px;
  height: 20px;
}
