.comentarios {
  display: flex;
  justify-content: space-around;
  font-family: "Fira Code", monospace;
  font-weight: 400;
  width: 550px;
  padding: 28px;
  color: #ffffff;
}

.comentarios .img_perfil {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  margin-right: 20px;
}

.comentarios .user_name_fecha {
  display: flex;
  font-family: "Fira Code", monospace;
  margin-bottom: 20px;
}

.comentarios .user_name_fecha .username {
  background-color: #800fff;
  color: #150714;
  font-size: 20px;
  padding: 5px;
  margin-right: 20px;
}

.comentarios .btn_like {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.comentarios .btn_comentarios img {
  width: 24px;
  height: 20px;
}

.comentarios .btn_vasura {
  width: 24px;
  height: 20px;
  border: none;
  cursor: pointer;
}
