@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,400;1,500;1,600&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2e132c;
  font-family: "Fira Code", monospace;
}

header {
  display: flex;
  justify-content: center;
}
.header {
  width: 605px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.devolverse {
  width: 150px;
  border: none;
  cursor: pointer;
}

.devolverse img {
  height: 16px;
  margin-right: 10px;
}
.devolverse .header_username {
  color: white;
  font-size: 20px;
}
.logout {
  width: 116px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f50d5a;
  border: none;
  cursor: pointer;
}

.logout > span {
  background-color: #f50d5a;
  color: #150714;
  font-weight: 700;
}
.logout > img {
  background-color: #f50d5a;
  width: 25px;
  height: 20px;
}
#link {
  text-decoration: none;
}

.perfil_usuario {
  display: flex;
  text-align: center;
  background-color: #150714;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 283px;
  font-weight: 700;
}

.perfil_usuario .perfil {
  width: 605px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #150714;
  padding: 10px;
  margin-bottom: 20px;
}

.perfil_usuario img {
  width: 134px;
  border: solid 5px #800fff;
  border-radius: 50%;
  margin-bottom: 10px;
}

.perfil_usuario .perfil_username {
  background-color: #800fff;
  color: #150714;
  font-size: 20px;
  padding: 5px;
}

.perfil_usuario .btn_perfil {
  width: 605px;
  height: 35px;
  color: #150714;
  font-weight: 700;
  font-size: 20px;
  display: flex;
}

.perfil_usuario .btn_perfil > button {
  width: 50%;
  height: 46px;
  border: none;
  color: #150714;
  cursor: pointer;
  background-color: #60265b;
}
.perfil_usuario .btn_perfil > button.btn_favorites {
  width: 50%;
  height: 46px;
  border: none;
  color: #150714;
  margin-left: 2px;
}

.perfil_usuario .btn_perfil > button:hover {
  color: #ffffff;
  background-color: #150714;
}

.tweets_contenedor {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
